:root{
    --red: #D95043;
    --dark: #261B26;
    --white: #F2E2CE;
    --blue: #3F7373;
    --light-orange: #F2994B ;
}

.logo{
    width: 25px;
    margin-right: 15px;
}

.socialMedia{
    text-align: center;
}
.socialMedia p{
    margin-top: 10px;
}


.ourTeam{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.gitHubLinks{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

footer{
    left: 0;
    bottom: 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footerTitles{
    border-bottom: 1px solid #E0E1DD;
}

.footerBox{
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

.featuresImg{
    width: 100%;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    min-width: 8rem;
    margin: 0 10px 0 10px;
    transition: ease-in-out 0.2s;
    padding: 20px;
}

.link p{
    margin: 0;
}

.copyright{
    font-weight: 600;
    margin: 0;
}

.link:hover{
    background-color: var(--light-orange);
    color: var(--white);
}
